.main {
	@include flex-mother();
	justify-content: space-between;
	width: clamp(340px, 50%, 700px);
	height: clamp(400px, 50vh, 700px);
	padding: 4em;
	border-radius: 2em;
	background-color: map-get($neutral-colors, neutralWhite);
	@include mq(1200px) {
		flex-direction: column;
		padding: 3em;
	}
	.bill {
		@include sizing(60%, 100%);
		@include mq(867px) {
			width: 90%;
		}
		&__label {
			@extend %heading;
		}
		&__input {
			position: relative;
			height: clamp(30px, 5vh, 40px);
			min-width: 200px;

			img {
				@include positioning(absolute, 50%, 10%);
			}
			input {
				@extend %input;
				&:focus {
					border: 2px solid map-get($primary-colors, primaryCyan);
				}
			}
		}
	}
	.tip {
		margin-top: 3em;
		&__heading {
			@extend %heading;
			margin-bottom: 1em;
		}
		&__input {
			position: relative;
			height: clamp(30px, 5vh, 40px);
			min-width: 200px;
			img {
				@include positioning(absolute, 50%, 10%);
			}
			input {
				@extend %input;
				&:focus {
					border: 2px solid map-get($primary-colors, primaryCyan);
				}
			}
		}
		&__label {
			@extend %heading;
			display: block;
			margin-top: 2em;
		}
		&__buttons {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(70px, 30%));
			grid-gap: 1em;
		}
		&__button {
			@extend %heading;
			@extend %button;
			height: 50px;
			color: map-get($neutral-colors, neutralWhite);
			cursor: pointer;
			transition: 0.3s;
			&:hover {
				background-color: map-get($primary-colors, primaryCyan);
				color: map-get($neutral-colors, neutralVeryDarkCyan);
			}
		}

		input {
			@extend %heading;
			@extend %button;
			width: 100%;
			text-align: center;
			transition: 0.3s;
			&:focus {
				background-color: map-get($neutral-colors, neutralWhite);
				color: map-get($neutral-colors, neutralVeryDarkCyan);
			}
		}
	}
}
